<!DOCTYPE html>
<html>

<head>
  <title>Everton Buzzi</title>
  <meta charset="utf-8">
  <meta name="description" content="Everton Buzzi - My personal site">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
  <link rel="icon" href="icons/EB.jpg" type="image/x-icon">

  <script defer src="/__/firebase/init.js?useEmulator=true"></script>
  
  <!-- Hotjar Tracking Code for evertonbuzzi.com -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:2113465,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<script src="/__/firebase/8.1.2/firebase-app.js"></script>
<script src="/__/firebase/8.1.2/firebase-analytics.js"></script>
<script src="/__/firebase/init.js"></script>
</head>

<body>
  <div id="q-app"></div>
</body>

</html>